<nav class="navbar navbar-default main-font" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header main-font push-right">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Matt's Website", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right main-font push-left">
      <li><%= link_to "About", :anchor => "about" %></li>
      <li><%= link_to "Work", :anchor => "work" %></li>
      <li><%= link_to "Play", :anchor => "play" %></li>
      <li><%= link_to "Contact", :anchor => "contact" %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
