<div class="jumbotron">
  <div class="center">
      <div class="scrim light-txt main-font">
        <h1>Meet Matt</h1>
      </div>
      <div class="center light-txt main-font scrim">
        <a href="#about"><input type="button" value="Read My Story" class="btn btn-default btn-lg clear light-txt", id="about"></a>
    </div>
  </div>
</div>

<div class="pane" style="padding-top: 15px !important;">
  <a name="about"></a>
  <div class="contain">
    <div class="row-fluid">
        <div class="span4">
          <h1 class="green-txt btm-pding">My Story</h1>
          <div class="float-left">
            <%= link_to(image_tag("matt.jpeg", :alt => "logo", :title => "Home", :class=>"responsive small-img", :style=>"margin-right: 50px; margin-top: 10px;"), "#about") %>
          </div>
        </div>
      <div class="span8">
        <h3 class="light-weight">Tech Geek + Adventurer</h3>
        <p class="light-weight">
          I spent the years after I graduated college searching for work that I found meaningful. It was a journey that involved all sorts of jobs and projects - from to teaching English overseas and guiding outdoor education programs, to helping Fortune 500 companies build sustainability intiatives, to strategizing the product roadmap for an early-stage startup.  Today, I’m learning full stack web development at the Turing School of Software and Design.
        </p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <div class="pane white-bg float-right">
  <a name="work"></a>
  <div class="contain">
    <h1 class="med-flat-blue-txt">Work</h1>
    <h3 class="light-weight">Startup Product Teams Are Neat</h3>
    <p class="light-weight">I love finding new ways to solve problems with technology. I'm just as excited about talking with users and digging into their needs as I am about writing code and building new features.  In my last position at ReWork, I wore many hats, but as a Product Manager it was my role to discover what made our users tick and ensure that we built useful products for them.  At Turing, I'm developing my skills with Ruby on Rails apps.</p>
  </div> -->

  <div class="pane white-bg float-r">
    <a name="work"></a>
    <div class="contain">
      <div class="row-fluid">
          <div class="span8">
            <h1 class="med-flat-blue-txt" style="text-align: right; margin-right: 40px;">Work</h1>
            <div class="float-right">
              <%= link_to(image_tag("html.png", :alt => "logo", :title => "Home", :class=>"responsive small-img", :style=>"margin-left: 25px; margin-top: 25px;"), "#about") %>
            </div>
          </div>
        <div class="span4">
          <h3 class="light-weight">Startup Product Teams Are Neat</h3>
          <p class="light-weight">
            I love finding new ways to solve problems with technology. I'm just as excited about talking with users and digging into their needs as I am about writing code for new features. My previous role as a Product Manager was to discover what made our users tick and ensure that we built useful products for them.  Today, I'm focusing on learning full stack web development at the Turing School of Software Design.  During this 7-month immersive program, I'll be focused on learning how to build scaleable Ruby on Rails web applications.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="pane">
  <a name="play"></a>
  <div class="contain">
    <div class="row-fluid">
        <div class="span4">
          <h1 class="green-txt btm-pding" style="margin-left: 50px;">Play</h1>
          <div class="float-left">
            <%= link_to(image_tag("mountains.png", :alt => "logo", :title => "Home", :class=>"responsive small-img", :style=>"margin-right: 50px;"), "#about") %>
          </div>
        </div>
      <div class="span8">
        <h3 class="light-weight">The Outdoors are Fun</h3>
        <p class="light-weight">
          When I'm not working on tech, you'll find me getting away from the city to recharge.  When it's warm, I spend my free time backpacking, mountain biking, or rock climbing.  Always trying to learn something new, my latest summer hobby is kiteboarding.  In the wintertime, you'll find me chasing the big storms in search of deep powder turns.
        </p>
      </div>
    </div>
  </div>
</div>

<a name="contact"></a>
<div class="pane white-bg">
  <a name="about"></a>
  <div class="contain">
    <h1 class="med-flat-blue-txt center">Contact</h1>
    <h3 class="light-weight center" style="padding-bottom: 25px;">Find Me Here:</h3>
  </div>
    <div class="container clmns">
      <div class="row center" style="margin-left: 4rem; margin-right">
          <div class="col-md-4">
            <%= link_to(image_tag("email.png", :alt => "logo", :title => "email", :class=>"responsive contact-img", :style=>"margin-right: 50px;"), "mailto:thew88@gmail.com") %>
          </div>
          <div class="col-md-4">
            <%= link_to(image_tag("linkedin.png", :alt => "logo", :title => "linkedin", :class=>"responsive contact-img", :style=>"margin-right: 50px;"), "https://www.linkedin.com/in/mattstjernholm") %>
          </div>
          <div class="col-md-4">
            <%= link_to(image_tag("github.png", :alt => "logo", :title => "github", :class=>"responsive contact-img", :style=>"margin-right: 50px;"), "https://github.com/thew88") %>
          </div>
      </div>
  </div>
  </div>
  </div>
  <hr>
  </div>
</div>

<div class="footer" style="padding-bottom: 25px;">
  <div class="contain">
    <div class="center">
      <p>-- 2015 --</p>
    </div>
  </div>
</div>
